body {
  margin: 0;
}

#header, #footer {
  width: 100%;
}

#footer {
  margin-top: 100px;
}

/* #bestbuy {
  display: flex;
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
  overflow: scroll;
  flex-direction: column;
  width: 1185px;
} */

#grid-container {
  display: flex;
  justify-content: center;
}

#portal {
  font-family: 'Roboto', sans-serif;
}

#bestbuy {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: 1185px 355px;
  grid-template-rows: 1500px;
  grid-template-areas:
    "product-details similar-items";
}

#left-column {
  grid-area: product-details;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#product-details {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

#people-also-viewed {
  margin-top: 50px;
}


#similar-items {
  grid-area: similar-items;
}

#similar-items img {
  display: block;
  border: none;
}

#reviews {
  margin-top: 50px;
}

#service2 {
  /* position: absolute; */
  width: 383px;
  /* margin-top: 400px;
  margin-right: 50px; */
}
